# FastAPI framework and dependencies
fastapi==0.115.6
uvicorn==0.34.0
pydantic==2.10.4

# Environment variable management
python-dotenv==1.0.1

# YOLOv5 and dependencies
torch==2.0.1
torchvision==0.15.2
ultralytics==8.0.54

# Image processing
pillow==11.0.0

# OpenCV for image processing without GUI dependencies
opencv-python-headless==4.10.0.84

# Any other necessary dependencies used in your app
